div#container {
    min-width: 310px; 
    height: 500px; 
    max-width: 100%; 
    margin: 0
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-wrapper {
    margin-bottom: 150px;
  }

td.mac-btn button{
    font-size: 18px;
}

td.mac-btn button:hover{
    font-size: 20px;
    background-color: rgb(209, 209, 209);
}

td.mac-btn button:focus{
    font-size: 24px;
    background-color: rgb(209, 209, 209);
}

div.time-btn button:hover{
  font-size: 16px;
  background-color: rgb(248, 129, 129);
}

div.time-btn button:focus{
  font-size: 16px;
  background-color: rgb(248, 129, 129);
}

div mat-divider{
    margin-bottom: 10px;
    margin-top: 10px;
}

div.space {
    margin-bottom: 10px;
    margin-top: 10px;
}

div.space-st {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

mat-card-content.example-input-wrapper div label.col-form-label input {
  width: 100%;
}

mat-card.example-card{
    margin-bottom: 20px;
}

table {
    width: 100%;
  }
  
td, th {
    width: 100%;
  }

mat-card-content th.mat-header-cell {
    text-align: center;
}

td mat-chip{
    margin-left: 10px;
  }

.example-container {
    height: 450px;
    overflow: auto;
  }